
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* {
    margin:0;
    padding:0;
}

body {
    color:white;
    display:flex;
    flex-direction: column;
    background-color: #f0f0f0;
}
.background-img {
    background-image: url(../background-img/nathan-dumlao-6VhPY27jdps-unsplash.jpg);
    height:100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.bg-shade {
    height:100%;
    background-color:rgba(0, 0, 0, 0.4);
}
/* Navigation Bar */ 

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.brand-name {
    margin:0.5rem 0 0 1rem;
}
.brand-name a {
    font-size:1.8rem;
    color:white;
    text-decoration: none;
    font-family:'pacifico', sans-serif;
}

/* Links */

.nav1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-menu {
    display: flex;
    gap:30px;
    margin-right:1rem;
}
.nav-item {
    list-style: none;
}
.navlink {
    text-decoration: none;
    color:white;
    font-family: 'Kanit', sans-serif;
    font-weight: 500;
    font-size: 1.2rem; 
}
.navlink:hover {
    color:lightblue
}

/* Hamburger */
.hamburger {
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height:3px;
    margin:5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(255, 255, 255);
}

@media (max-width:768px) {
    .hamburger {
        display: block;
        margin-top:1rem;
        margin-right:1rem;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top:70px;
        gap:0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-menu.active {
        left:0;
    }
}
/* Main content */ 


.title-container {
    height:25em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.title {
    font-size:5rem;
    font-family:'pacifico', sans-serif;
    margin-top:1em;
}

@media screen and (max-width:500px) {
    .title {
        font-size:3rem;
    }
}
.title-desc {
    font-size:1.15rem;
    margin:0.5em;
    font-family:'kanit', sans-serif;
}
@media screen and (max-width:500px) {
    .title-desc {
        font-size:1rem;
    }
}
.btn {
    display: flex;
    justify-content: center;
    gap:30px;
    margin-top:0.5em;
}
.btn1, .btn2 {
    font-size:1.5rem;
    background: transparent;
    border: white 2px solid;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    padding:0.2em 0.5em;
    border-radius: 0.5em;
}
@media screen and (max-width:500px) {
    .btn1, .btn2 {
        font-size:1.2rem;
    }
}

.btn1:hover ,.btn2:hover {
    background-color: rgba(178, 215, 228, 0.6);
    cursor:pointer;
}

/* Location Container */

.location {
    display:flex;
    justify-content: center;
    flex-direction: column;
    color:black;
}
.location .container {
    height:100%;
    align-items: center;
    text-align: center;
}
.container p {
    margin-top:1em;
    font-size:2.5rem;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
}
.desc-container {
    display: flex;
    justify-content: center;
}
.desc-container p {
    font-size:1rem;
    color:rgb(145, 145, 145);
    padding-bottom:3em;
    margin:0.5em;
    text-align: left;
}

@media screen and (min-width:1300px) {
    .container p {
        font-size:3rem;
    }
    .desc-container p {
        font-size:1.1rem;
    }
}
@media screen and (max-width:600px) {
    .desc-container p {
        font-size:1rem;
        margin:0.5rem 1.5rem;
    }
}

.find {
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
    margin:2rem;
    margin-top:0;
    height:100%;
}
.img-box {
    background-image: url(../background-img/coffee-shop.jpg);
    width:700px;
    height:500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex:2 0 0%;
}

.icon {
    text-align: center;
    flex:1 0 0%;
}
.icon p {
    font-size:3.5em;
}
.icon-desc {
    margin-top:1em;
    margin-left:0.25em;
    font-size:1.2rem;
    color:rgb(145, 145, 145);
}

.icon .gps {
    margin-top:0.5em;
    font-size:1.5rem;
    border: rgb(0, 0, 0) 2px solid;
    color:rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    padding:0.2em 0.5em;
    border-radius: 0.5em;
}
.gps:hover {
    background-color: rgba(178, 215, 228, 0.6);
    cursor:pointer;
}
@media screen and (min-width:1200px) {
    .icon p {
        font-size:5em;
    }
    .icon-desc {
        margin-top:1em;
        font-size:1.5rem;
        color:rgb(145, 145, 145);
    }
}
@media screen and (max-width:1200px) {
    .icon p {
        font-size:4em;
    }
    .icon-desc {
        margin-top:1em;
        font-size:1.5rem;
        color:rgb(145, 145, 145);
    }
    .icon .gps {
        font-size:1.2rem;
    }
}

@media screen and (max-width:770px) {
    .icon p {
        font-size:3.5em;
        text-align: center;
    }
    .icon-desc {
        margin-top:0.5em;
        font-size:1.5rem;
        color:rgb(145, 145, 145);
    }
    .icon .gps {
        font-size:1rem;
    }
    .desc-container p {
        font-size:1rem;
    }
    .container .title {
        font-size:2rem;
    }
    .img-box {
        flex:2 0 80%;
    }
    .icon {
        flex:1 0 20%;
        margin-top:-3rem;
    }
}
@media screen and (max-width:605px) {

.icon p {
    padding-top:0.5em;
    font-size:2.5rem;
}

}

/* Download the app */

.mobile {
    color:black;
    display: flex;
    justify-content: center;
    flex-flow: row wrap-reverse;
    align-items: center;
    margin:2em;
}
.mobile-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right:1em;
    flex:1 0 0%;
}
.mobile-img {
    background-image: url(../background-img/mobile.jpg);
    height: 500px;
    width:700px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex:2 0 0%;
}
.mobile-title p {
    font-size:4.5rem;
    font-weight: bold;
    font-family:'Roboto', sans-serif;
}
.mobile-desc {
    font-size:1.5rem;
    color:gray;
    margin-top:1em;
}
.mobile-btn {
    display: flex;
    margin-left:0.5em;
    gap:15px;
    margin-top:0.5em;
}
.mobile-btn button {
    border:none;
    cursor: pointer;
}
.mobile-btn img {
    height:50px;
}
@media screen and (max-width:770px) {

    .mobile-img{
        flex: 2 0 80%;
    }
    .mobile-title {
        flex:1 0 20%;
        margin-top:0.5em;
    }
    .mobile-title p {
        font-size:3.5rem;
    }
}
@media screen and (max-width:605px) {
    .mobile-title p {
        font-size:2.9rem;
        width:80%;
        margin-top:1rem;
    }
    .mobile-desc {
        font-size:1.3rem;
        margin-top:0.5em;
        width:75%;
    }
}

.menu {
    margin-top:1.5em;
    height: 100%;
    color:black;
}
.title-menu {
    text-align: center;
    font-size:5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.title-menu-desc {
    text-align: center;
    font-size:1.5rem;
    color:gray;
    margin-top:0.5em;
}

@media screen and (max-width:770px) {
    .title-menu {
        font-size: 3.5rem;
    }
}
@media screen and (max-width:605px) {
    .title-menu {
        font-size:2.9rem;
    }
}
.food-container {
    display: flex;
    justify-content:center;
    flex-flow: row wrap;
}

.menu .food {
    margin:0.5em;
    width:350px;
}
.menu .food-img {
    height:270px;
    width:100%;
}
.food-imgs {
    height:100%;
    width:100%;
}
.food-desc {
    background-color: white;
    box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.2);
    font-size: 2rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-bottom: 0.2em;
}
.food-desc p {
    padding:0.5em;
    padding-bottom:0;
}
.food-desc .p2 {
    font-size:1rem;
    margin:0;
    color:gray;
}
.food-detail {
    color:black;
    font-size:1.2rem;
    font-family: 'Roboto';
    font-weight: bold;
    text-decoration: underline;
}
.food-detail:hover {
    color:gray;
}
.hire {
    margin-top:3rem;
    display: flex;
    justify-content: center;
}
.hire-box {
    margin:1em;
    height:100%;
    width:800px;
    border: 2px lightgray solid;
    border-radius: 1em;
    text-align: center;
    color:black;
}
.hire-title {
    margin-top:0.5em;
    font-size:4rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.hire-desc {
    display: inline-flex;
    margin-top: 0.5em;
}
.hire-desc {
    width:80%;
    text-align: left;
    font-size: 1.3rem;
    color:rgb(0, 0, 0);
}

.hire-gray {
    margin-top:0.5em;
    color:gray;
    font-size:1.3rem;
}
.hire-btn {
    margin:1rem 0;
}
.apply {
    font-size:1.5rem;
    padding: 0.2rem 1rem;
    cursor: pointer;
    border: black solid 2px;
    border-radius: 0.5em;
}
.apply:hover {
    background-color: lightblue;
}
@media screen and (max-width:803px) {
    .hire-btn {
        margin-top:0.5rem;
    }
}
@media screen and (max-width:620px) {
    .hire-title {
        font-size:2.5rem;
    }
    .hire-desc {
        font-size: 1rem;
    }
    .hire-gray {
        font-size:1.2rem;
    }
}

.footer {
    margin-top:2em;
    height:5rem;
    text-align: center;
    color:black;
}
.footer p {
    font-size:1.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
.footer-links {
    display:flex;
    margin-top:1em;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
    padding-bottom: 1em;
}
.footer-links a {
    color:black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-decoration: underline;
}
@media screen and (max-width:525px) {
    .footer p {
        font-size: 1.3rem;
    }
    .footer-links a {
        font-size:1rem;
    }
}
